h1 {
    text-align: center;
    font-weight:400;
    margin-top:-30px;
}
.main {
    margin: 0 auto;
}
.temp {
    font-size: 120px;
}
.temp-2 {
    font-size: 32px;
    font-weight: 600;
    color: #b92e2e;
    position: relative;
    left: 145px;
    top: 40px;
}
.temp-4 {
    font-size: 32px;
    font-weight: 600;
    color: #b92e2e;
    position: relative;
    left: 145px;
    bottom: 135px;
}
.temp-unit {
    font-size: 45px;
}
.temp-unit-2 {
    font-size: 13px;
}
.temp-degrees {
    font-size: 45px;
    vertical-align: top;
}
.temp-degrees-2 {
    font-size: 16px;
    vertical-align: top;
}
.misc-data {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size:20px;
    }
.humidity {
    font-weight: 600;
    color: #667B82;
    margin-top:-50px;
}
.pressure {
  font-weight: 600;
  color: #667B82;
}
.datetime {
    font-weight: 600;
    font-style: italic;
    text-align:center;
    color: #5f8aaf;
    position: relative;
    top: 40px;
}
.datetime-forecast {
    font-weight: 600;
    font-style: italic;
    text-align:center;
    color: #5f8aaf;
    position: relative;
    top: 0px;
}
.WeatherNow-hourly-forecast {
    width:100%;
    height: 110px;
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
    white-space: nowrap;
    overflow-x: hidden;
}
.WeatherNow-hourly-forecast:hover {
  overflow-x:auto;
}

@media screen and (max-width: 479px) {
  .temp {
      font-size: 70px;
  }
  .temp-2 {
      font-size: 20px;
      font-weight: 600;
      color: #b92e2e;
      left: 100px;
      top: 25px;
  }
  .temp-4 {
      font-size: 20px;
      font-weight: 600;
      color: #b92e2e;
      left: 100px;
      top: -90px;
  }
  .temp-unit {
      font-size: 24px;
  }
  .temp-unit-2 {
      font-size: 13px;
  }
  .temp-degrees {
    font-size: 32px;
    line-height: 32px;
  }
  .temp-degrees-2 {
      font-size: 16px;
      line-height: 32px;
  }
  .misc-data {
      font-size:14px;
  }
  .item-list {
    margin: 10px;
  }
  .current-time {
    font-size:45px;
  }
}
