h1 {
    text-align: center;
    font-weight:400;
}
.main {
    margin: 0 auto;
}
.dark .temp, .dark .right-arrow {
    color: #b9ecff;
}
.temperature-overlay {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.current-temp {
    display: inline-flex;
        vertical-align: top;
}
.forecast-temp {
    display: inline-flex;
    vertical-align: top;
}
.temp {
    font-size: 120px;
    font-weight: 600;
}
.temp-2 {
    font-size: 32px;
    font-weight: 600;
    color: #b92e2e;
    margin-left: -20px;
    display: inline-block;
    vertical-align: top;
}
.temp-4 {
    font-size: 32px;
    font-weight: 600;
    color: #b92e2e;
    position: relative;
    left: 0px;
    bottom: -80px;
}
.temp-unit {
    font-size: 45px;
    margin-left: -10px;
}
.temp-unit-2 {
    font-size: 13px;
}
.temp-degrees {
    font-size: 45px;
    vertical-align: top;
    margin-left: -10px;
}
.temp-degrees-2 {
    font-size: 16px;
    vertical-align: top;
}
.right-arrow {
    display: inline-flex;
    line-height: 130px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bolder;
    vertical-align: top;
    justify-content: center;
}
.misc-data {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size:20px;
    }
.humidity {
    font-weight: 600;
    color: #667B82;
    margin-top:-15px;
}
.pressure {
  font-weight: 600;
  color: #667B82;
}
.datetime {
    font-weight: 600;
    font-style: italic;
    text-align:center;
    color: #5f8aaf;
}
.datetime-forecast {
    font-weight: 600;
    font-style: italic;
    text-align:center;
    color: #5f8aaf;
    position: relative;
    top: -20px;
}
.WeatherNow-hourly-forecast {
    width:100%;
    height: 110px;
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
    white-space: nowrap;
    overflow-x: hidden;
}
.WeatherNow-hourly-forecast:hover {
  overflow-x:auto;
}

@media screen and (max-width: 479px) {
  .temp {
      font-size: 70px;
  }
  .temp-2 {
      font-size: 20px;
      font-weight: 600;
      color: #b92e2e;
      left: 0px;
      top: -40px;
  }
  .temp-4 {
      font-size: 20px;
      font-weight: 600;
      color: #b92e2e;
      left: 100px;
      top: -90px;
  }
  .temp-unit {
      font-size: 24px;
      margin-left: -5px;
  }
  .temp-unit-2 {
      font-size: 13px;

  }
  .temp-degrees {
    font-size: 32px;
    line-height: 32px;
    margin-left: -5px;
  }
  .temp-degrees-2 {
      font-size: 12px;
  }
  .misc-data {
      font-size:14px;
  }
  .item-list {
    margin: 10px;
  }
  .current-time {
    font-size:45px;
  }
  .datetime-forecast {
    margin-top:15px;
  }
}
