
.settings-form {
    padding: 20px;
    border: 1px solid #8c8c8c;
    background-color: #cccccc;
    border-radius: 5px;
    width: max-content;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 70px;
    z-index:100;
}
    .settings-form label {
        color: white;
        
    }
    .settings-form select {
        margin-top: 5px;
        margin-bottom: 5px;
        height: 35px;
    }
.dark .settings-form {
    border: 1px solid #7d7d7d;
    background-color: #4c4c4c;
}